.cartwidget {
    display: flex;
    flex-flow: row nowrap;
    width: 40px;
    max-height: 40px;
    padding: 0;
    position: relative;
}

.cartwidget .cartwidget-itemcount {
    align-self: center;
    background-color: #FFD200;
    border-radius: 15px;
    color: #000;
    display: flex;
    font-size: 30px;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    height: 18px;
    width: 18px;
}

.cartwidget-itemcount p {
    margin: 0;
    font-size: .4em;
}